body{
  background-color: #EFEAD8;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #D0C9C0;
  border-width: 10px;
  width: 10%;
}

h1 {
  color: #6D8B74;
}

h2 {
  color: #6D8B74;
}
